api-implementation-sapi/src/main/mule/api_sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get_userlist" doc:id="3aefa9aa-dc3b-494e-9d29-36888509f8d6" >
		<set-variable value="Shlok" doc:name="Set Variable" doc:id="4533cee4-337c-4366-9449-791532dde3ad" variableName="name"/>
		<set-payload value="#[vars.name]" doc:name="Set Payload" doc:id="5db97372-6429-48ab-b51a-de2986b440ad" />
	</flow>
</mule>
